@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --foreground: oklch(0 0 0);
  --card: oklch(0.94 0 0);
  --card-foreground: oklch(0 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.94 0 0);
  --muted-foreground: oklch(0 0 0);
  --accent: oklch(0.8 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.5 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0 0 0 / 0.2);
  --chart-1: oklch(0 0 0);
  --chart-2: oklch(0.5 0 0);
  --chart-3: oklch(0.94 0 0);
  --chart-4: oklch(0.8 0 0);
  --chart-5: oklch(0 0 0);
  --radius: 0.5rem;
  --sidebar: oklch(0.94 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.5 0 0);
  --sidebar-ring: oklch(0 0 0 / 0.2);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.3 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3 0 0);
  --muted-foreground: oklch(0.7 0 0);
  --accent: oklch(0.3 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.3 0 0);
  --input: oklch(0.3 0 0);
  --ring: oklch(1 0 0 / 0.2);
  --chart-1: oklch(1 0 0);
  --chart-2: oklch(0.7 0 0);
  --chart-3: oklch(0.5 0 0);
  --chart-4: oklch(0.3 0 0);
  --chart-5: oklch(1 0 0);
  --sidebar: oklch(0.1 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3 0 0);
  --sidebar-ring: oklch(1 0 0 / 0.2);
}
